@model WebAtividadeEntrevista.Models.ClienteModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form id="formCadastro" method="post">

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { })
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: João" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { })
            @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: da Silva" } })
            @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { })
            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control cpf", @placeholder = "Ex.: 999.999.999-99" } })
            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Nacionalidade, htmlAttributes: new { })
            @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: brasileira" } })
            @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.CEP, htmlAttributes: new { })
            @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control cep", @placeholder = "Ex.: 01011-100" } })
            @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="PE">Pernambuco</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="SP">São Paulo</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { })
            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: São Paulo" } })
            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { })
            @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: Rua Boa Vista 253" } })
            @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: email@email.com" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { })
            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control telefone", @placeholder = "Ex.: (11) 2020-3030" } })
            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modalBeneficiarios">Beneficiários</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>

</form>

@{ Html.RenderPartial("~/Views/Beneficiario/Incluir.cshtml", new WebAtividadeEntrevista.Models.BeneficiarioModel()); }